# Set your AtCoder Username
acUSERNAME=yourname
# Set your repository for AtCoder
acGITREPOSITORY=git@github.com:{account}/{repository}.git
# Set your timezone
acTIMEZONE=Asia/Tokyo
# Set your setting file for ssh access to github
acSSHDIR=${HOME}
# Set your Name and E-mail setting file for git repository
acGITNAME="hoge"
acGITEMAIL="hoge@local"